{:shortcuts {:load-file-in-repl             #{:ctrl :shift :l}
             :switch-repl-to-ns             #{:ctrl :shift :n}
             :move-form-up                  #{:ctrl :shift :up}
             :raise-form                    #{:alt :r}
             :shrink-selection              #{:ctrl :shift :w}
             :extend-selection              #{:ctrl :w}
             :move-form-down                #{:ctrl :shift :down}
             :send-form-before-to-repl      #{:ctrl :shift :b}
             :send-top-form-to-repl         #{:ctrl :shift :t}
             :barf-forward                  #{:ctrl :shift :rbrace}
             :join-sexp                     #{:alt :shift :j}
             :slurp-forward                 #{:ctrl :shift :0}
             :splice-sexp                   #{:alt :s}
             :previous-word                 #{:ctrl :left}
             :next-word                     #{:ctrl :right}
             :sexp-down-left                #{:ctrl :alt :p}
             :sexp-up-left                  #{:ctrl :alt :u}
             :sexp-up-right                 #{:ctrl :alt :n}
             :sexp-left                     #{:ctrl :alt :b}
             :sexp-down-right               #{:ctrl :alt :d}
             :sexp-right                    #{:ctrl :alt :f}
             :thread-first                  "->"
             :thread-first-backwards        "<-"
             :thread-last                   "->>"
             :thread-last-backwards         "<<-"
             :thread-last                   "<-"
             :left-curly-brace              "{"
             :right-curly-brace             "}"
             :wrap-with-curly-braces        #{:ctrl :shift :lbrace}
             :wrap-with-double-quotes       #{:ctrl :shift :quote}
             :left-square-brace             "["
             :right-square-brace            "]"
             :wrap-with-square-braces       #{:alt :lbrace}
             :left-round-brace              "("
             :right-round-brace             ")"
             :wrap-with-round-braces        #{:alt :shift :9}
             :kill-sexp                     #{:ctrl :alt :k}
             :split-sexp                    #{:alt :shift :s}
             :underscore                    "_"
             :left-angle-brace              "<"
             :right-angle-brance            ">"
             :close-round-brace-and-newline #{:alt :shift :0}

             }


 :keymap    {
             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
             ;;;           1st row          ;;;
             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

             :equals    [nil]
             :1         [:1 :f1 nil :f1]
             :2         [:2 :f2 nil :f2]
             :3         [:3 :f3 nil :f3]
             :4         [:4 :f4 nil :f5]
             :5         [:5 :f5 nil :f5]
             :esc       [nil :flashmode]

             :function6 [nil]
             :6         [:6 :f6 :pageup]
             :7         [:7 :f7 :thread-last-backwards]
             :8         [:8 :f8 :thread-first-backwards]
             :9         [:9 :f9 :thread-first]
             :0         [:0 :f10 :thread-last]
             :minus     [nil :flashmode]

             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
             ;;;           2nd row          ;;;
             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

             :backslash [nil]
             :q         [:tab nil]
             :w         [:l :load-file-in-repl]
             :e         [:a :switch-repl-to-ns]
             :r         [:p nil]
             :t         [:y nil]
             :function1 [nil]

             :lbrace    [nil]
             :y         [:f nil :pageup]
             :u         [:g nil :home]
             :i         [:c :move-form-up :up nil :left-curly-brace]
             :o         [:r :raise-form :end :right-curly-brace]
             :p         [:backspace nil :pagedown :wrap-with-curly-braces]
             :rbrace    [nil]

             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
             ;;;           3rd row          ;;;
             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

             :tab       [nil]
             :a         [:delete nil]
             :s         [:o :shrink-selection]
             :d         [:e :extend-selection]
             :f         [:u nil]
             :g         [:i nil]

             :h         [:d nil :previous-word]
             :j         [:h nil :left]
             :k         [:t :move-form-down :down]
             :l         [:n nil :right]
             :semicolon [:escape nil :next-word]
             :quote     [nil]

             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
             ;;;           4th row          ;;;
             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

             :lshift    [nil]
             :z         [:backslash nil nil]
             :x         [:j :send-form-before-to-repl :send-form-before-to-repl]
             :c         [:fun2 :send-top-form-to-repl :fun2]
             :v         [:fun1 :fun1 :send-top-form-to-repl]
             :b         [:x nil nil]
             :function1 [nil]


             :function6 [nil]
             :n         [:b nil]
             :m         [:fun3 :slurp-forward :sexp-down-left]
             :comma     [:fun4 :splice-sexp :sexp-up-left]
             :period    [:fun5 :barf-forward :sexp-up-right]
             :slash     [:enter nil]
             :rshift    [nil]

             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
             ;;;           5th row          ;;;
             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

             :lgui      [nil]
             :backtick  [:q nil]
             :function3 [:q nil]
             :function4 [:k nil]
             :function5 [:s nil]

             :left      [:m nil :sexp-left]
             :down      [:w :join-sexp :sexp-down-right]
             :up        [:v nil :sexp-right]
             :right     [:z :lat1 :lat2]
             :rgui      [nil nil]

             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
             ;;;     left thumb cluster     ;;;
             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
             :lctrl     [:lshift nil]
             :lalt      [:space nil]
             :backspace [:lctrl nil]
             :delete    [:lalt nil]
             :home      [:lgui :app]
             :end       [:escape nil]

             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
             ;;;     right thumb cluster    ;;;
             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
             :ralt      [:ralt nil]
             :rctrl     [:rctrl nil]
             :pageup    [:rgui :app]
             :pagedown  [:escape nil]
             :enter     [:rshift nil]
             :space     [:space nil]
             }

 }
