{:includes
 "#include QMK_KEYBOARD_H
#include \"debug.h\"
#include \"action_layer.h\"
#include \"version.h\""

 :defines
 ""

 :enums
 "enum custom_keycodes {
PLACEHOLDER = SAFE_RANGE
};
"

 :start-layouts
 "const uint16_t PROGMEM keymaps[][MATRIX_ROWS][MATRIX_COLS] = {"
 :stop-layouts
 "};"



 :last
 "
// Runs just one time when the keyboard initializes.
void matrix_init_user(void) {

};


// Runs constantly in the background, in a loop.
void matrix_scan_user(void) {

uint8_t layer = biton32(layer_state);

ergodox_board_led_off();
ergodox_right_led_1_off();
ergodox_right_led_2_off();
ergodox_right_led_3_off();
switch (layer) {
// TODO: Make this relevant to the ErgoDox EZ.
  case 1:
      ergodox_right_led_1_on();
      break;
  case 2:
      ergodox_right_led_2_on();
      break;
  default:
      // none
      break;
}

};"
 }

