{:keys->qmk {:0         "KC_0"
             :1         "KC_1"
             :2         "KC_2"
             :3         "KC_3"
             :4         "KC_4"
             :5         "KC_5"
             :6         "KC_6"
             :7         "KC_7"
             :8         "KC_8"
             :9         "KC_9"

             :a         "KC_A"
             :b         "KC_B"
             :c         "KC_C"
             :d         "KC_D"
             :e         "KC_E"
             :f         "KC_F"
             :g         "KC_G"
             :h         "KC_H"
             :i         "KC_I"
             :j         "KC_J"
             :k         "KC_K"
             :l         "KC_L"
             :m         "KC_M"
             :n         "KC_N"
             :o         "KC_O"
             :p         "KC_P"
             :q         "KC_Q"
             :r         "KC_R"
             :s         "KC_S"
             :t         "KC_T"
             :u         "KC_U"
             :v         "KC_V"
             :w         "KC_W"
             :x         "KC_X"
             :y         "KC_Y"
             :z         "KC_Z"

             :backslash "KC_BSLS"
             :backspace "KC_BSPC"
             :backtick  "KC_"
             :comma     "KC_COMM"
             :delete    "KC_DELT"
             :down      "KC_DOWN"
             :end       "KC_END"
             :enter     "KC_ENT"
             :equals    "KC_EQL"
             :escape    "KC_ESC"
             :function1 "KC_"
             :function2 "KC_"
             :function3 "KC_"
             :function4 "KC_"
             :function5 "KC_"
             :function6 "KC_"
             :function7 "KC_"
             :home      "KC_HOME"
             :lalt      "KC_LALT"
             :lbrace    "KC_LBRC"
             :lctrl     "KC_LCTRL"
             :left      "KC_LEFT"
             :lgui      "KC_LGUI"
             :lshift    "KC_LSHIFT"
             :minus     "KC_MINS"
             :pagedown  "KC_PGDN"
             :pageup    "KC_PGUP"
             :period    "KC_DOT"
             :quote     "KC_QUOT"
             :ralt      "KC_RALT"
             :rbrace    "KC_RBRC"
             :rctrl     "KC_RCTRL"
             :rgui      "KC_RGUI"
             :right     "KC_RIGHT"
             :rshift    "KC_RSHIFT"
             :semicolon "KC_SCLN"
             :slash     "KC_SLASH"
             :space     "KC_SPACE"
             :tab       "KC_TAB"
             :up        "KC_UP"}}